.s-not-found {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    height: 180px;
    margin-bottom: 10px;
    position: relative;

    &__icon {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 80px;
        height: 80px;
        background: #C2E189 url(./water-alert.png) no-repeat 50% 50%;
        background-size: 48px 48px;
        border-radius: 48px;
    }

    &__text {
        position: absolute;
        text-align: center;
        display: block;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
}